<div class="sidenav-root" [class.collapsed]="!isExpanded">
  <!-- Header -->
  <div class="nav-header">
    <div *ngIf="isExpanded" class="header-full">
      <div class="logo-box">
        <mat-icon>close</mat-icon>
      </div>
      <div class="logo-text">
        <span class="logo-red">DBS</span>
        <span>One Finance Platform</span>
      </div>
    </div>
    <div *ngIf="!isExpanded" class="logo-box centered">
      <mat-icon>close</mat-icon>
    </div>
    <div *ngIf="isExpanded" class="section-label">CORPORATE TREASURY</div>
  </div>

  <!-- Menu -->
  <nav class="menu">
    <div *ngFor="let item of menuItems" class="menu-block">
      <button class="menu-button" (click)="toggleSection(item.id)" [class.active]="expandedSections[item.id]">
        <div class="icon-text">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span *ngIf="isExpanded">{{ item.title }}</span>
        </div>
        <mat-icon *ngIf="isExpanded && item.hasSubmenu">
          {{ expandedSections[item.id] ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
        </mat-icon>
      </button>

      <div *ngIf="isExpanded && item.hasSubmenu && expandedSections[item.id]" class="submenu">
        <a *ngFor="let subItem of item.submenuItems" [routerLink]="subItem.path">
          {{ subItem.name }}
        </a>
      </div>
    </div>
  </nav>

  <!-- Footer -->
  <div class="nav-footer">
    <button class="menu-button notification-button">
      <mat-icon>notifications</mat-icon>
      <span *ngIf="isExpanded">Notifications</span>
    </button>

    <div class="profile">
      <div class="profile-pic">SL</div>
      <span *ngIf="isExpanded" class="profile-name">Sensei Larusso</span>
    </div>

    <button class="menu-button toggle-button" (click)="toggleSidenav()">
      <mat-icon>{{ isExpanded ? 'chevron_left' : 'chevron_right' }}</mat-icon>
      <span *ngIf="isExpanded">Collapse view</span>
    </button>
  </div>
</div>